<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/">Home</a>
    </li>
    <li class="breadcrumb-item active">Dashboard</li>
  </ol>
</nav>

<h5>Dashboard</h5>

<div class="row">
  <div class="col-lg-3" style="background-color: #e9e6e6">
    <div class="row">
      <div
        class="col-11 text-white text-center mx-2 rounded pt-2 pv-2 font-weight-bold"
        style="background-color: #a39e9e"
      >
        {{ designation }}
      </div>

      <div class="col-12 text-center mt-2">
        <img src="../../assets/user.png" alt="" width="120px" />
      </div>

      <div class="col-12 text-center pt-2 pb-2 font-weight-bold">
        {{ username }}
      </div>

      <div class="col-12 text-center pt-2 pb-2">TEAM SUMMARY</div>
      <div class="col-12 mb-3">
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            NO. OF TEAM MEMBERS
            <span
              class="badge badge-secondary badge-pill"
              style="font-size: 13px"
              >{{ noOfTeamMembers }}</span
            >
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            TOTAL COST OF ALL PROJECTS
            <span
              class="badge badge-secondary badge-pill"
              style="font-size: 13px"
              >{{ totalCostOfAllProjects }}</span
            >
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            PENDING TASKS
            <span
              class="badge badge-secondary badge-pill"
              style="font-size: 13px"
              >{{ pendingTasks }}</span
            >
          </li>

          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            UPCOMING PROJECTS
            <span
              class="badge badge-secondary badge-pill"
              style="font-size: 13px"
              >{{ upcomingProjects }}</span
            >
          </li>
        </ul>
      </div>

      <div class="col-12 text-center pt-2 pb-2">CLIENTS</div>
      <div class="col-12">
        <ul class="list-group list-group-flush" *ngFor="let client of clients">
          <li class="list-group-item">{{ client }}</li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Middle Panel Starts here -->
  <div class="col-lg-6">
    <div class="row">
      <div class="col-12 pt-0 pb-2" style="background-color: #e9e6e6">
        <div class="row mt-2">
          <div class="col-6 text-left">
            <!-- project Dropdown start here -->
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="'dropdownMenuButton"
                data-toggle="dropdown"
              >
                {{ projects[0] ? projects[0] : "No Project" }}
              </button>
              <div class="dropdown-menu">
                <a
                  href=""
                  *ngFor="let project of projects"
                  class="dropdown-item"
                >
                  {{ project }}
                </a>
              </div>
            </div>
            <!-- project Dropdown ends here -->
          </div>
          <div class="col-6 text-right">
            <!-- year Dropdown starts here -->
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="'dropdownMenuButton"
                data-toggle="dropdown"
              >
                {{ years[0] ? years[0] : "No Year" }}
              </button>
              <div class="dropdown-menu">
                <a href="" *ngFor="let year of years" class="dropdown-item">
                  {{ year }}
                </a>
              </div>
            </div>
            <!-- year Dropdown ends here -->
          </div>
        </div>
      </div>
      <!-- Project Briefing Block starts here -->
      <div
        style="background-color: #718d97"
        class="col-11 mx-auto mt-1 text-white text-center pt-2 pb-2 rounded font-weight-bold"
      >
        PROJECT BRIEFING
      </div>
      <div class="col-12">
        <table class="table table-borderless">
          <tr>
            <td>Project Cost</td>
            <td>${{ projectCost }}</td>
          </tr>
          <tr>
            <td>Current Expenditure</td>
            <td>${{ currentExpenditure }}</td>
          </tr>
          <tr>
            <td>Available Funds</td>
            <td>${{ availableFunds }}</td>
          </tr>
        </table>
      </div>
      <!-- Project Briefing Block ends here -->
      <!-- Team Members Summary block Starts here  -->
      <div
        style="background-color: #718d97"
        class="col-11 mx-auto mt-1 text-white text-center pt-2 pb-2 rounded font-weight-bold"
      >
        TEAM MEMBERS SUMMARY
      </div>
      <div class="col-12">
        <table class="table">
          <tr>
            <th>Region</th>
            <th>Team Members Count</th>
            <th>Temporarily Unavailable Members</th>
          </tr>
          <tr>
            <td>EAST</td>
            <td>20</td>
            <td>4</td>
          </tr>
          <tr>
            <td>WEST</td>
            <td>20</td>
            <td>4</td>
          </tr>
          <tr>
            <td>SOUTH</td>
            <td>20</td>
            <td>4</td>
          </tr>
          <tr>
            <td>NORTH</td>
            <td>20</td>
            <td>4</td>
          </tr>
        </table>
      </div>
      <!-- Team Members Summary block ends here  -->
    </div>
  </div>
  <!-- Middle Panel ends here -->

  <!-- right section starts here  -->
  <div class="col-lg-3" style="background-color: #e9e6e6">
    <div class="row">
      <div
        style="background-color: #718d97"
        class="col-11 mx-auto mt-1 text-white text-center pt-2 pb-2 rounded font-weight-bold"
      >
        TEAM MEMBERS
      </div>

      <div class="col-lg-12 pt-2">
        <!-- accordion starts here  -->
        <div class="accordion" id="accordion1">
          <!-- East starts here -->
          <div class="card">
            <div class="card-header bg-secondary" id="card1">
              <h2 class="mb-0">
                <button
                  data-target="#cardbody1"
                  data-toggle="collapse"
                  type="button"
                  class="btn btn-link text-white"
                >
                  EAST
                </button>
              </h2>
            </div>

            <div id="cardbody1" data-parent="#accordion1" class="collapse show">
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Tom</td>
                      <td>
                        <i class="fa fa-phone"></i>
                        Available
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Alex</td>
                      <td>
                        <i class="fa fa-phone"></i>
                        Available
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Mike</td>
                      <td>
                        <i class="fa fa-user-times"></i>
                        Busy
                      </td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>John</td>
                      <td>
                        <i class="fa fa-phone"></i>
                        Available
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- East ends here  -->

          <!-- West starts here -->
          <div class="card">
            <div class="card-header bg-secondary" id="card2">
              <h2 class="mb-0">
                <button
                  data-target="#cardbody2"
                  data-toggle="collapse"
                  type="button"
                  class="btn btn-link text-white"
                >
                  WEST
                </button>
              </h2>
            </div>

            <div id="cardbody2" data-parent="#accordion1" class="collapse">
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Tom</td>
                      <td>
                        <i class="fa fa-phone"></i>
                        Available
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Alex</td>
                      <td>
                        <i class="fa fa-phone"></i>
                        Available
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Mike</td>
                      <td>
                        <i class="fa fa-user-times"></i>
                        Busy
                      </td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>John</td>
                      <td>
                        <i class="fa fa-phone"></i>
                        Available
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- West ends here  -->

          <!-- North starts here -->
          <div class="card">
            <div class="card-header bg-secondary" id="card3">
              <h2 class="mb-0">
                <button
                  data-target="#cardbody3"
                  data-toggle="collapse"
                  type="button"
                  class="btn btn-link text-white"
                >
                  NORTH
                </button>
              </h2>
            </div>

            <div id="cardbody3" data-parent="#accordion1" class="collapse">
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Tom</td>
                      <td>
                        <i class="fa fa-phone"></i>
                        Available
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Alex</td>
                      <td>
                        <i class="fa fa-phone"></i>
                        Available
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Mike</td>
                      <td>
                        <i class="fa fa-user-times"></i>
                        Busy
                      </td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>John</td>
                      <td>
                        <i class="fa fa-phone"></i>
                        Available
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- North ends here  -->

          <!-- South starts here -->
          <div class="card">
            <div class="card-header bg-secondary" id="card4">
              <h2 class="mb-0">
                <button
                  data-target="#cardbody4"
                  data-toggle="collapse"
                  type="button"
                  class="btn btn-link text-white"
                >
                  SOUTH
                </button>
              </h2>
            </div>

            <div id="cardbody4" data-parent="#accordion1" class="collapse">
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Tom</td>
                      <td>
                        <i class="fa fa-phone"></i>
                        Available
                      </td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Alex</td>
                      <td>
                        <i class="fa fa-phone"></i>
                        Available
                      </td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>Mike</td>
                      <td>
                        <i class="fa fa-user-times"></i>
                        Busy
                      </td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>John</td>
                      <td>
                        <i class="fa fa-phone"></i>
                        Available
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- South ends here  -->
        </div>
        <!-- accordion ends here  -->
      </div>
    </div>
  </div>
  <!-- right section ends here  -->
</div>
